.gap-1 {
    grid-gap: 0.25rem;
    gap: 0.25rem;
  }
  
  .gap-2 {
    grid-gap: 0.5rem;
    gap: 0.5rem;
  }
  
  .gap-4 {
    grid-gap: 1rem;
    gap: 1rem;
  }
  
  .text{
    &-left{
      text-align: left;
    }
    &-center{
      text-align: center;
    }
    &-right{
        text-align: right;
    }
  }

  .d{
    &-flex {
      display: flex  !important;
    }
    &-inline-flex {
      display: inline-flex  !important;
    }
    
    &-none{
      display: none !important;
    }
    &-xl{
      @media (min-width: 1140px) {
        &-flex {
          display: flex  !important;
        }
        &-inline-flex {
          display: inline-flex  !important;
        }
        
        &-none{
          display: none  !important;
        }
      }
    }
    &-lg{
      @media (min-width: 960px) {
        &-flex {
          display: flex  !important;
        }
        &-inline-flex {
          display: inline-flex  !important;
        }
        
        &-none{
          display: none  !important;
        }
      }
    }
    &-md{
      @media (min-width: 768px) {
        &-flex {
          display: flex  !important;
        }
        &-inline-flex {
          display: inline-flex  !important;
        }
        
        &-none{
          display: none  !important;
        }
      }
    }
    &-sm{
      @media (min-width: 576px) {
      &-flex {
        
          display: flex  !important;
        }
      }
    }
  }



  .align-items {
    &-center {
      align-items: center;
    }
  }
  
  
  .justify-content{
    &-between{
      justify-content: space-between;
    }
  }

  .w {
    &-100 {
      width: 100%;
    }
  
    &-50 {
      width: 50%;
    }
  
    &-25 {
      width: 25%;
    }
  }
  .flex {
    &-wrap {
      flex-wrap: wrap;
    }
  
    &-nowrap {
      flex-wrap: nowrap !important
    }
  }
  .justify-content {
    &-center {
      justify-content: center;
    }
  
    &-end {
      justify-content: flex-end;
    }
  
    &-between {
      justify-content: space-between;
  
    }
  }
  .position {
    &-relative {
      position: relative;
    }
  }

  .grid {
    display: grid;
    grid-template-rows: repeat(var(--bs-rows, 1), 1fr);
    grid-template-columns: repeat(var(--bs-columns, 12), 1fr);
    row-gap: var(--bs-gap-row, 12px);
    column-gap: var(--bs-gap-column, 20px);

    .g-col {
 
      @for $i from 1 through 12 {
      
        &-#{$i} {
          grid-column: auto / span #{$i};
        }

      
      
      }
    }

    .g-col {
 
      @for $i from 1 through 12 {
        @media (min-width: 768px) {
          &-md-#{$i} {
            grid-column: auto / span #{$i};
          }
        } 
      }
    }
  }
